body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://images.unsplash.com/photo-1517315003714-a071486bd9ea?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

h1 {
    color: #8A3A72;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .links {
    margin-bottom: 50px;
}

footer .links >a {
    color: #53953F;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.copyright {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.news {
    background-color: #FAEAEF;
    padding: 50px 0 32px;
}

article {
    width: 768px;
    margin: 0 auto 32px;
    padding: 6px 15px;
    background-color: #EBF6E1;
    border-bottom: 1px solid #A7B29D;
}

article:nth-child(2n) {
    background-color: white;
}

article a {
    color: black;
    text-decoration: none;
}

article a:hover {
    color:blue;
}

article h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    text-transform: uppercase;
    position: relative;
}

.article-meta {
    color: black;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fresh-news::before {
    content: "New";
    text-transform: none;
    font-style: italic;
    position: absolute;
    left: -75px;
    font-family: serif;
}